/* normal styling */

.default-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

/* .flex-item {
    margin: auto;
} */

.down {
    flex-direction: column;
}
/* 
.flex-item p {
    font-family: "Ubuntu", sans-serif;
} */

.flex {
    display: flex;
}

.full-height {
    height: 100vh;
}

.arrow {
    position: relative;
    width: 50%;
    transform: rotate(180deg);
    animation-name: arrow-motion-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.arrow-up {
    position: relative;
    width: 50%;
    animation-name: arrow-motion-up;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* classes for animations */

.fly-in {
    animation-name: up-in;
    animation-duration: 1s;
}

.animate-up {
    animation-name: arrow-motion-up;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.animate-down {
    animation-name: arrow-motion-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* animations */

@keyframes up-in {
    from {
        opacity: 0%;
        position: relative;
        top: 100px;
    }
    to {
        opacity: 100%;
        position: relative;
        top: 0px;
    }
}

@keyframes arrow-motion-down {
    0% {
        top: 0px;
    }
    50% {
        top: 30px;
    }
    100% {
        top: 0px
    }
}

@keyframes arrow-motion-up {
    0% {
        bottom: 0px;
    }
    50% {
        bottom: 30px;
    }
    100% {
        bottom: 0px
    }
}